#tags_tag{
  width: 400px;
  color: #aaa !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  font-size: 0.9rem !important;
}

.form-control-title::placeholder {
  width: 400px;
  color: #aaa !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  font-size: 0.9rem !important;
}

.form-control-title:-ms-input-placeholder { /* Internet Explorer 10-11 */
  width: 400px;
  color: #aaa !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  font-size: 0.9rem !important;
}

.form-control-title::-ms-input-placeholder { /* Microsoft Edge */
  width: 400px;
  color: #aaa !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  font-size: 0.9rem !important;
}